#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define NAV 1
#define ADJUST 2

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
            // Main 4x6 finger block
            &kp Q  &kp W  &kp E  &kp R  &kp T        &kp Y  &kp U  &kp I  &kp O  &kp P
            &kp A  &kp S  &kp D  &kp F  &kp G        &kp H  &kp J  &kp K  &kp L  &kp SEMI
            &kp Z  &kp X  &kp C  &kp V  &kp B        &kp N  &kp M  &kp COMMA &kp DOT &kp FSLH
            &kp LCTRL &kp LGUI &kp LALT &kp GRAVE   &kp RALT &kp RCTRL &kp RGUI &kp BSLH // This only has 4 keys on the left, to match the map
            // Logical Thumb Cluster (Rows 4 and 5)
                                          &kp BSPC &kp RET        &kp LSHFT &kp RSHFT
                   &kp LEFT &kp DOWN &kp UP &kp RIGHT         &mo NAV &kp SPACE &kp ENTER &mo ADJUST
            >;
        };

        nav_layer {
            // All &trans to pass through from the default layer unless specified
            bindings = <
            &trans  &trans  &trans  &trans  &trans         &trans  &trans  &trans  &trans  &trans
            &trans  &trans  &trans  &trans  &trans         &trans  &trans  &trans  &trans  &trans
            &trans  &trans  &trans  &trans  &trans         &trans  &trans  &trans  &trans  &trans
            &trans  &trans  &trans  &trans                 &trans  &trans  &trans  &trans
                                            &trans &trans         &trans &trans
                    &bootloader &sys_reset &trans &trans   &trans &trans &trans &trans
            >;
        };

        adjust_layer {
            bindings = <
            &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3       &bt BT_CLR &none &none &none &none &none
            &out OUT_USB &out OUT_BLE &none      &none                &none      &none &none &none &none &none
            &trans       &trans       &trans     &trans       &trans  &trans     &trans &trans &trans &trans &trans
            &trans       &trans       &trans     &trans               &trans     &trans &trans &trans
                                                              &trans &trans      &trans &trans
                                &trans &trans &trans &trans          &trans &trans &trans &trans
            >;
        };
    };
};
